// Simulations for haploidiploid individuals
initialize() {
	// define ehre the parameters use for the simulations
	defineConstant("L", 1e4); // number of sites
	defineConstant("eps", -0.4); // epitasis between the two loci
	defineConstant("s10",-0.02); // selection for the ancestral allele at locus 1
	defineConstant("s20",-0.02); // selection for the ancestral allele at locus 2

	initializeMutationRate(0); // no new mutations, as we are tracking the ancestry
	
	// Mutations
	initializeMutationType("m1", 0.5, "f", 0.0);   // Marker indicating a population 1 ancestry
	initializeMutationType("m3", 0.5, "f", 0.0);   // Placve holder used furtherdown to creat the chromosome
	m1.convertToSubstitution = F; // Prevent Slim to remove mutation wheen they fixed
	initializeMutationType("m10",0.5,"f",0); // First loci involved in the DMI
	m10.convertToSubstitution = F;
	initializeMutationType("m20",0.5,"f",0); // Second loci involved in the DMI
	m20.convertToSubstitution = F;
	

	// create a genomic element using mutation of type 3, to avoid interactions with our ancestry markers
	initializeGenomicElementType("g1", m3, 1.0);
	
	// Define a chromosome 
	initializeGenomicElement(g1, 0, L-1); // Create the chromosome with L markers
	initializeRecombinationRate(1e-4); // Recombination rate between markers
	initializeSex("X"); // Tell slim that we are simulating a sex chromosome. Slim only considers XO system, which corresponds to haplodiploid system.

}



// create the ancestral populations
1 {
	sim.addSubpop("p1", 5000);
	sim.addSubpop("p2", 5000);
	

}

1 late(){
	p1.genomes[!(p1.genomes.isNullGenome)].addNewDrawnMutation(m10, asInteger(L * 0.35)); // add the first locus involved in the DMI 
	p1.genomes[!(p1.genomes.isNullGenome)].addNewMutation(m1, 0.0, 0:(L-1)); // add the ancestry marker along the genome
	

	p2.genomes[!(p2.genomes.isNullGenome)].addNewDrawnMutation(m20, asInteger(L * 0.65)); // add the second locus involved in the DMI 
	sim.addSubpop("p3", 10000); // create the hybrid population
	p3.setMigrationRates(c(p1, p2), c(0.5, 0.5)); // in the next generation, the individuals will come from the parental populationThis is done at this stage, as it indicates that new offspring in population 3 in generation 2 will be migrating from the two parental populations.


}


2 late(){
	p3.setMigrationRates(c(p1, p2), c(0.0, 0.0)); // turn off the migration event describe before
	p1.setSubpopulationSize(0); // kill the parental population 1
	p2.setSubpopulationSize(0); // kill the parental population 2
}

// Insure that all individuals are F1 in the next generation
3 modifyChild(){
	t1 = parent1.genomes.countOfMutationsOfType(m10)[0];// check for the m10 mutation in the first chromosome of the female (they are diploid homozygote at this stage)
	t2 = parent2.genome1.countOfMutationsOfType(m10); // check for the m10 mutation in the male
	if (t1 != t2){ // only if one individual has the m10 mutation and the other is lacking it
		cat(paste(sim.generation)); // print to screen the generation
		cat("_");
		cat(paste(parent1.genomes.countOfMutationsOfType(m10))); // print status at locus m10 in the female
		cat("-");
		cat(paste(parent2.genome1.countOfMutationsOfType(m10))); // print status at locus m10 in the male
		cat("\n");
		return T; // keep the mating
		}
	else
		return F; // reject the mating
}




// Used for the rest of the simulations. This step represents viability selection fo the offspring, ie its fitness is its probability to reach adulthoood. 
4:103 modifyChild(){
	if(childGenome2.isNullGenome){ // if the offspring is male
		Mut10=2*childGenome1.countOfMutationsOfType(m10); // check status at locus m10
		Mut20=2*childGenome1.countOfMutationsOfType(m20); // check status at locus m20
	} else {
		childGenomes=c(childGenome1, childGenome2); //  if the offspring is female
		Mut10=sum(childGenomes.countOfMutationsOfType(m10)); // check status at locus m10
		Mut20=sum(childGenomes.countOfMutationsOfType(m20)); // check status at locus m20
	}
	if (Mut10==1 & Mut20==1) //  if the offspring is heterozygote for each mutation
		fit=1; // it has fitness of 1
	else 	
		fit=(1+s10)^((Mut10-2)*(Mut10-1))*(1+s20)^((Mut20-2)*(Mut20-1))*(1+eps)^(Mut10*Mut20); // otherwise fitness is given accordingly. It is multiplicative, and both selection and epistasis are recessive 
	test=runif(1); // draw number in a uniform distribution between 0 and 1
	child.tagF=fit; // saved the fitness of the individual
	if (test>fit){ // if the random numebr is larger than the fitness value, the offspring does not survive
		child.fitnessScaling=0; 
	} else {
		child.fitnessScaling=1;
	}
	return T;
	}
	
// Exporting each generation the ancestry proportion in the whole population	
3:103 late() {
		p3f_bs = c(p3.individuals.genome1[p3.individuals.sex=="F"],p3.individuals.genome2[p3.individuals.sex=="F"]); // store genome of all female individuals before selection happened 
		p3m_bs = c(p3.individuals.genome1[p3.individuals.sex=="M"]);// store genome of all male individuals before selection happened 

		p3f = c(p3.individuals.genome1[p3.individuals.sex=="F"&p3.individuals.fitnessScaling==1],p3.individuals.genome2[p3.individuals.sex=="F"&p3.individuals.fitnessScaling==1]);// store genome of all female individuals after selection happened 
		p3m = c(p3.individuals.genome1[p3.individuals.sex=="M"&p3.individuals.fitnessScaling==1]);// store genome of all male individuals after selection happened 
	

		//calculate the ancestry proportion for males and females before and after selection
		p3mCounts = integer(L);
		for (g in p3m)
			p3mCounts = p3mCounts + integer(L, 0, 1, g.positionsOfMutationsOfType(m1));
		maxCount = p3m.size();
		p3mFractions = p3mCounts / maxCount;

		p3fCounts = integer(L);
		for (g in p3f)
			p3fCounts = p3fCounts + integer(L, 0, 1, g.positionsOfMutationsOfType(m1));
		maxCount = p3f.size();
		p3fFractions = p3fCounts / maxCount;
		
		p3mCounts_bs = integer(L);
		for (g in p3m_bs)
			p3mCounts_bs = p3mCounts_bs + integer(L, 0, 1, g.positionsOfMutationsOfType(m1));
		maxCount_bs = p3m_bs.size();
		p3mFractions_bs = p3mCounts_bs / maxCount_bs;

		p3fCounts_bs = integer(L);
		for (g in p3f_bs)
			p3fCounts_bs = p3fCounts_bs + integer(L, 0, 1, g.positionsOfMutationsOfType(m1));
		maxCount_bs = p3f_bs.size();
		p3fFractions_bs = p3fCounts_bs / maxCount_bs;
		
		//  write output in a file
		writeFile("~/Documents/Alex/finland/hard_sel/fraction_female_hd.txt", paste(p3fFractions,", "), append=T);
		writeFile("~/Documents/Alex/finland/hard_sel/fraction_male_hd.txt", paste(p3mFractions,", "), append=T);		
		writeFile("~/Documents/Alex/finland/hard_sel/fraction_female_hd_bs.txt", paste(p3fFractions_bs,", "), append=T);
		writeFile("~/Documents/Alex/finland/hard_sel/fraction_male_hd_bs.txt", paste(p3mFractions_bs,", "), append=T);	

	
}




103 late(){
		//*****
		// Within the *** is the code for exportiong the whole genome of both females and males at a given generation. Can be copy paste (with changing the name of the files) for any generation of interest.  
		p3f = c(p3.individuals.genome1[p3.individuals.sex=="F"&p3.individuals.fitnessScaling==1],p3.individuals.genome2[p3.individuals.sex=="F"&p3.individuals.fitnessScaling==1]);
		p3m = c(p3.individuals.genome1[p3.individuals.sex=="M"&p3.individuals.fitnessScaling==1]);
		for (g in p3f){
			writeFile("~/Documents/Alex/finland/hard_sel/genome_female_hd_100g.txt", paste(g.positionsOfMutationsOfType(m1)), append=T);
		}
		for (g in p3m){
			writeFile("~/Documents/Alex/finland/hard_sel/genome_male_hd_100g.txt", paste(g.positionsOfMutationsOfType(m1)), append=T);

		}
		//*****

		// End of the simulations
		sim.simulationFinished();
		
}
